@tailwind base;
@tailwind components;
@tailwind utilities;


  .max-h-0 {
    max-height: 0;
  }

  @font-face {
    font-family: 'Otomanopee One';
    src: url('/img/OtomanopeeOne-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: normal;
  }
  